h1 span {
  /* font: 126px Monaco, MonoSpace;
  height: 200px;
  position: absolute;
  width: 20px;
  left: 0; */
  /* top: 0; */
  /* transform-origin: bottom center; */
  transform: rotate(6deg);
}

.group-0 {
  transform: rotate(6deg);

}